@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradient-bg {
    @apply w-full h-full bg-gradient-to-tr from-blue-200 via-blue-400 to-blue-600 dark:from-purple-600 dark:via-red-600 dark:to-purple-800;
    background-size: 400%;
    animation: gradient-bg 5s ease infinite;
  }

  @keyframes gradient-bg {
    0%,
    100% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }
  }

  .theme-switch {
    @apply relative;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    --size-of-icon: 1.4em;
    --slider-offset: 0.3em;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
  }

  .theme-switch input {
    @apply opacity-0 w-0 h-0;
  }

  .theme-slider {
    @apply absolute cursor-pointer inset-0 transition-all duration-300 bg-white dark:bg-[#121212];
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
      0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05)
    );
    border-radius: 30px;
  }

  .theme-slider:before {
    @apply absolute content-[''] transition-all duration-500 rounded-full top-1;
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    left: var(--slider-offset, 0.3em);
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  }

  .theme-switch > input:checked + .theme-slider:before {
    left: calc(
      100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em))
    );
    background: #303136;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }
}
